---
layout: page
title: Demo's
---
	<h3>Demo's</h3>
	<section>
		<div class="row">
			<div class="8u 12u$(medium)">
				<p>
					#Laatjehacken.nl geeft regelmatig presentaties, awareness sessies en demo's over hoe hackers te werk gaan.
				  Ben je geinteresseerd in een spreker van #Laatjehacken.nl voor je evenement?
					Of wil je je medewerkers bewust maken van de gevaren van het internet?
					Neem dan contact op met #Laatjehacken.nl via <a href="mailto:info@laatjehacken.nl">info@laatjehacken.nl</a>
				</p>
				<p>
					Het kan heel simpel zijn. Een usb stick neemt je computer over of een link in een mailtje trekt je rekening leeg.
					Tijdens de hackdemo laten we zien wat de mogelijkheden van hackers zijn om je bewust te maken van het belang van een goede beveiliging.
					We nemen je mee in de wereld van hackers en laten zien welke schade ze kunnen aanrichten als ze eenmaal binnen zijn.
				</p>
			</div>
			<div class="1u 12u$(medium)"><br /></div>
			<div class="3u 12u$(medium)">
				<p>
					<strong>Contact</strong><br />
					<a href="mailto:info@laatjehacken.nl">info@laatjehacken.nl</a><br />
				</p>
			</div>
