---
layout: page
title: Platform
---
	<h3>Platform</h3>
	<section>
		<div class="row">
			<div class="8u 12u$(medium)">
				<p>
					Het #Laatjehacken.nl platform.
				</p>
				<p>
					<a href="https://app.laatjehacken.nl/">Klik hier om naar het platform te gaan</a>
				</p>
			</div>
			<div class="1u 12u$(medium)"><br /></div>
			<div class="3u 12u$(medium)">
				<p>
					<strong>Contact</strong><br />
					<a href="mailto:info@laatjehacken.nl">info@laatjehacken.nl</a><br />
				</p>
			</div>
